@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0a0e1a;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0e1a;
  }

  ::-webkit-scrollbar-thumb {
    background: #4ade80;
    border-radius: 10px;
  }
}